.app-header
  background: $color-background

  position: absolute
  top: 0
  left: $grid-gutter-width
  right: $grid-gutter-width

  display: flex
  justify-content: space-between
  align-items: center

  height: $app-header-height
  max-height: $app-header-height

  z-index: $z-high
