.categories
  overflow: auto
  padding-left: 40px

  &__single-category
    display: flex
    margin-bottom: $m-base
    align-items: center
    color: $color-white
    text-decoration: none
    cursor: pointer
    width: max-content
    border-radius: $border-radius-base
    padding: 5px 10px 5px 0px

    +transition(background-color, padding, color, margin)

    &:hover:not(.-active)
      svg
        +transition(fill)
        fill: $color-primary
        path
          fill: $color-primary
      .categories__name
          +transition(color)
          color: $color-primary
    svg
      path
        +transition(fill)
        fill: $color-white

    &.-active
      background-color: $color-white
      color: $color-black
      padding-left: 10px
      margin-left: -10px

      svg
        path
          fill: $color-black

  &__icon
    height: 17px
    width: auto
    display: flex
    margin-right: $m-xs
  &__name
    display: flex
    font-size: 14px
    font-weight: 600
    letter-spacing: 0.28px
    text-transform: uppercase

  &::-webkit-scrollbar
    width: 3px

  &::-webkit-scrollbar-thumb
    background-color: #707070
    outline: 1px solid slategrey

  &::-webkit-scrollbar-track-piece:end
    background: transparent
    margin-bottom: 10px
