.tippy-popper

  .tippy-tooltip
    background-color: #969696
    right: 10px // 20px is the margin of category

    a
      display: block
      text-decoration: none
      color: #ffffff
      font-weight: 600
      padding: 0px 10px

      &::first-letter
        text-transform: uppercase

.ToolTip
  &__link
    text-decoration: none

    .post__single-category
      transition: background $transition-duration $transition-function

      &:hover
        background: rgba(#A0A0A0, 0.1 )
