.user
  &__image
    border-radius: 50%
    margin-right: 16px
    height: 40px
    width: 40px
    display: flex
    justify-content: center
    align-items: flex-end
    overflow: hidden

    .-background-light
      background-color: $color-background
    .-background-dark
      background-color: $color-black

  &__name
    font-size: 14px
    letter-spacing: 0.28px
    font-weight: 600
    margin: auto

  &__icon
    height: 80%

+media-breakpoint-only(xs)
  .user__image
    margin-right: 0
    margin-bottom: 12px
