.user-panel-container
  background: $color-background
  display: flex
  justify-content: flex-end
  align-items: center
  flex: 1

  .add-post-btn
    margin-left: auto
    margin-right: 18px

  +media-breakpoint-up(md)
    justify-content: flex-end
    max-width: max-content

  +media-breakpoint-down(lg)
    padding-left: $grid-gutter-width * 2

.user-panel
  border-top-left-radius: 5px
  border-top-right-radius: 5px
  display: flex
  align-items: center
  height: 50px
  letter-spacing: 0.28px
  padding: 12px 22px 6px

  position: relative
  cursor: pointer

  .user__image 
      margin: 0px 10px

  &__menu
    background: $color-black
    box-shadow: 0px 3px 10px #1F1F1F
    border-bottom-left-radius: 5px
    border-bottom-right-radius: 5px
    display: flex
    flex-direction: column
    position: absolute

    left: 0
    right: 0

    padding-top: 40px
    padding-left: 24px
    padding-bottom: 14px
    width: 100%
    top: 100%

    &.-hidden
      visibility: hidden

  &.-active
    background: $color-black
    box-shadow: 0px 3px 10px #1F1F1F

  +media-breakpoint-only(xs)
    margin-right: -16px

    .user__name,
    .chevron
      display: none

    
    // &__menu
    //     padding: 40px 30px 14px
    //     right: 0
    //     width: max-content