.add-post {
  margin: 20px auto;
  display: block;
}

.App {
  margin: 20px;
}

/* code {
  background-color: aqua;
} */

.container {
  margin: auto;
  width: 90%;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 20px;
  list-style: none;
}

.noShow {
  display: none !important;
}

.post {
  margin-top: 15px;
  padding: 15px;
}
.posts {
  margin: auto;
  width: 90%;
}

.preview {
  border: 1px solid #c8ccd0;
  min-height: 200px;
  padding: 10px;
}
